*{
    margin: 0;
    padding: 0;
}

.app-page{
    display: grid;
    grid-template-areas:
     "h h"
      "n c";
    grid-template-rows: 60px 1fr ;
    grid-template-columns: 2fr 10fr ;
    grid-gap: 10px;
}

.app-page_content {

    background-color: #edeef0;

}


.app-page_intro {
    float: bottom;
    max-width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}