.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userPhoto:hover {
   opacity: 0.7;
}

.selectedPage {
    font-weight: bold;
}

.userCard{
    margin: 10px;
    border-radius: 60px 20px 60px 20px;
    padding: 40px 10px 20px 10px;
    width: 170px;
}

.userInfo{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;

}


.userBtn{
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #2a588b !important;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}


.userBtn:hover{
   background-color: #dae1e8;
}
.buttonArea{
    background-color: #ffffff;
    box-shadow: #808890 0 0  10px;
    padding: 10px;
    border-radius: 0 0 40px 10px;
    width: 150px;
    text-align: center;
 }

.usersContainer{
    display: flex;
}
.users{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.userData{
    color: #4287b3;
    text-align: center;
    padding: 30px 10px;
    background-color: rgba(120, 150, 173, 0.1);
    width: 150px;
    border-radius: 60px 20px 0 0;
}

.preloader{
    margin: 10px auto;
    width: 100px;
}
