.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {

    padding: 5px;
    color: white;

}

.dialogsItems .active {
    color: coral;
}

.dialog {

    color: white;
}

.messages {
    padding: 5px;

}

.message {
    color: white;
}


.textArea, .buttonAddPost{
    height: 20px;
    margin: 10px 0;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}
