.dialogsArea{
    height: 400px;
    margin-left: 10px;
}

.dialogs {
    display: flex;
    flex-flow: row;
}

.names{
    padding: 5px;
    margin-right: 10px;
}
.name{
    color: #2a588b!important;
    text-decoration: none;
    font-weight: bold;
}
.name:hover{
    color: #2a588b!important;
    text-decoration: underline  ;
    font-weight: bold;
}

.messages {
    padding: 5px;
    color: #2a588b;
    width: 300px!important;
}

.textArea, .buttonAddPost{
    height: 20px;
    margin: 10px 0;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.dialogsArea h3{
    color: #ffffff;
    margin: 15px 0;
    width: 230px;
    background-color: #7896ad;
    padding: 4px;
    text-align: center;
}

.messageBtn{
    width: 100px;
    font-size: 15px;
    padding: 5px 0;
    color: #2a588b !important;
    margin-top: 10px;
}