@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.navbar{
    grid-area: n;
    background-color: #edeef0;
    min-width: 120px;
}

.item{
    margin-bottom: 5px;
    margin-left: 10px;
}

.item:hover{
    background-color: #dae1e8;
}


.link{
    color: #2a588b;
    text-decoration: none;
    font-size: 18px;

}


i {
    color: #2a588b;
    width: 25px;
    text-align: center;
}

.active{
    text-decoration:underline;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);

}

.friendsBlock h3{

    color: #2a588b;
    margin-left: 10px;
    margin-bottom: 10px;
}