.container {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    padding-top: 10px;
}

.container img {
    width: 50px;
    margin: 5px 10px;
    border-radius: 5px;
}

.container h3 {
    margin: auto 15px;
    color: #2a588b;
    font-size: 15px;
}

.item{
    display: flex;
    flex-flow: row;
    justify-items: center;
    background-color: #ffffff;
    border: #edeef0 1px solid;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    width: 250px;


}