
.header_logo {
    animation: header_logo-spin infinite 20s linear;
    max-width: 60px;
    pointer-events: none;
    display: inline-block;
}


@keyframes header_logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.header {
    grid-area: h;

    background-color: #9c90fc;

}

.header_title{

    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
    margin-left: 10px;
    color: #8e2fa5;
    font-family: "Lucida Calligraphy";

}