.postsBlock {
    min-height: 400px;
}

.postsBlock h2 {
    color: #ffffff;
    background-color: #7896ad;
    padding: 5px 10px 5px 20px;
    border: #808890 solid 1px;
    border-radius: 0 0 5px 5px;
    box-shadow: #808890 0 0 5px;
    margin: 0 auto;
    width: 520px;
    display: none;
}

.textArea {
    border: #808890 solid 1px;
    width: 505px;
    border-radius: 5px 5px 20px 5px;
    background-color: #ffffff;
    box-shadow: #808890 0 0 5px;
    padding: 10px 5px 20px 20px;
    margin: 0 auto;
}

.textAreaBlue {
    border: #808890 solid 1px;
    width: 505px;
    border-radius: 5px 5px 20px 5px;
    background-color: #7896ad;
    box-shadow: #808890 0 0 5px;
    padding: 10px 5px 20px 20px;
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-flow: column;
    width: 510px;
    margin: 0 auto;
    padding:10px;
    background-color: rgba(120, 150, 173, 0.1);
    min-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
