.formContainer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 400px;
}
.formCard{
    background-color: #ffffff;
    width: 300px;
    margin: 20px auto 20px auto;
    padding: 3px;
    height: 390px;
    box-shadow: #808890 0 0 7px;
}
.formBody{
    margin: 5px 20px;
}
.formCard h2{
    color: #ffffff;
    margin-bottom: 20px;
    background-color: #7896ad;
    padding:5px 10px 5px 20px ;
}
.formCard p{
    color: #2a588b !important;
    margin-bottom: 10px;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}
.checkBox{
    margin-top: 20px;
    color: #2a588b;
    display: flex;
}
.checkBox p{
    margin-left: 10px;
    margin-top: 3px;
}
