
.paginator {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.paginatorArea{
    display: flex;
    flex-flow: row;
    width:300px;
    padding: 20px;
    border-radius: 10px 20px 10px 30px;
}
.pageNumbers{
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pageNumber {
    padding: 2px;
    border: 1px solid #7896ad;
    margin: 2px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    box-shadow: #808890 0 0 3px;
    color: #2a588b;

}
.pageNumber:hover {
    background-color: rgba(120, 150, 173, 0.77);
    color: #ffffff;

}
.pageNumber.selectedPage {
    font-weight: bold;
    color: #ffffff;
    background-color: #7896ad;
}

.buttons{
    display: flex;
    flex-flow: column;
}

.pageBtn{
    margin: auto 10px;
    width: 70px;
    padding: 5px;
    font-size: 15px;
    color: #2a588b !important;
    border-radius: 5px;
    cursor: pointer;
}


.pageBtn:hover{
    background-color: #dae1e8;
}