.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    max-width: 800px;
}

.container img {
    width:100px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 50px;
}

.container p {
    margin-bottom: 15px;
    color: #2a588b;
    font-size: 20px;
}

.item{
    background-color:#dae1e8;
    width: 120px;
    height: 120px;
    margin: 5px;
}

.userCard{
    margin: 10px;
    border-radius: 60px 20px 60px 20px;
    padding: 40px 10px 20px 10px;
    width: 170px;
}

.userInfo{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;

}

.userImage{
    text-align: center;
    padding: 30px 10px;
    background-color: rgba(120, 150, 173, 0.1);
    width: 150px;
    border-radius: 60px 20px 0 0;
}

.userName{
    background-color: #ffffff;
    box-shadow: #808890 0 0  10px;
    padding: 10px;
    border-radius: 0 0 40px 10px;
    width: 150px;
    text-align: center;
}