.content {
    background-color: #edeef0;
    color: #2a588b;
}
.image_container{
    text-align: center;
    width: 100%;
    background-color:#1f3753;
}

.content_image {
    margin: 0 auto;
    height: 150px;
    background-position: center;
    background-attachment: fixed;
}

.content{

    }

.description {
   padding: 10px;
    border: 3px solid white;
}

.description img{
    max-width: 90px;
}
.description p{
    margin-left: 25px;
}