.postItems{
    margin-bottom: 10px;
}
.item {
    color: #2a588b;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 5px;
}

.postItems p{
    border: rgba(120, 150, 173, 0.3) solid 1px;
    width: 60px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.postItems p:hover i{
    opacity: 1;
}

.postItems i{
    opacity: 0.5;
}