.container {
    width: 100px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
}

.container img {
    width: 50px;
    margin: 5px;
    border-radius: 5px;
}

.container h3 {
    margin-bottom: 15px;
    color: #2a588b;
    font-size: 15px;
}