.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.input{
    height: 30px;
    font-size: 15px;
    padding: 0 5px;
}

.textarea{
    width: 220px;
    height: 70px;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
}