.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.input{
    height: 30px;
    font-size: 15px;
    padding: 0 5px;
    border: #345f93 1px solid  ;
    color: #2a588b;
    border-radius: 3px;
}

.textarea{
    width: 270px;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
    border: #345f93 1px solid  ;
    color: #2a588b;
}