.headerContainer{
    display: flex;
}
.headerLogo {
    animation: header_logo-spin infinite 5s linear;
    width: 50px;
    height: 50px;
    pointer-events: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}


@keyframes header_logo-spin {
    0%,100% {
        opacity: 0.3;
    }
    10%,80% {
        opacity: 1;
    }

}

.header {
    background-color: rgba(189, 195, 198, 0.85);
    padding-bottom: 5px;
    min-width: 675px;

}

.headerTitle{

    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
    color: #2a588b;
    font-family: "Lucida Calligraphy";

}

.headerLogin {
    margin-top: 17px;
    margin-right: 10px;
    margin-left: auto;

}
.headerBtn {
    width: 80px;
    color: #2a588b;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #dae1e8;
    text-decoration: none;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
}

.headerBtn:hover {
    background-color: rgba(122, 138, 173, 0.49);
    color: #ffffff;
}

.loginContainer{
    display: flex;
    flex-flow: row;
    justify-items: center;
}

.nickName{
    padding: 3px 10px 0 10px;
    border-radius: 50%;
    background-color: #4287b3;
    color: #ffffff;
    margin-right: 3px;
}
