.headerContainer{
    display: flex;
}
.headerLogo {
    animation: header_logo-spin infinite 5s linear;
    width: 50px;
    height: 50px;
    pointer-events: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}


@keyframes header_logo-spin {
    0%,100% {
        opacity: 0.3;
    }
    10%,80% {
        opacity: 1;
    }

}

.header {
    background-color: #edeef0;
    margin-bottom: 8px;
    padding-bottom: 5px;

}

.headerTitle{

    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
    color: #2a588b;
    font-family: "Lucida Calligraphy";

}

.headerLogin {
    margin-top: 17px;
    margin-right: 10px;
    margin-left: auto;

}
.headerLogin a {
    color: #2a588b;
}

